*/target/
*/om.xml.tag
*/om.xml.releaseBackup
*/om.xml.versionsBackup
*/om.xml.next
*/elease.properties
*/ependency-reduced-pom.xml
*/uildNumber.properties
*/mvn/timing.properties
*/ https://github.com/takari/maven-wrapper#usage-without-binary-jar
*/mvn/wrapper/maven-wrapper.jar
.idea/
*/.idea/
*.iml
*/*.iml