<!--source: https://codepen.io/marcobiedermann/pen/gReMQy-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>title</title>
</head>
<body>

<div class="btn-group">
    <a th:if="${!isEnrolled}" class="btn btn-outline-dark"
       th:href="@{'/courses/enroll?courseId=' + ${currCourse.courseId}}">
        enrollment
    </a>

    <a th:if="${isEnrolled}" class="btn btn-outline-dark"
       th:href="@{'/courses/dropout?courseId=' + ${currCourse.courseId}}">
        dropout
    </a>

</div>

</body>
</html>
