<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Admin</title>

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
          integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
          crossorigin="anonymous">

    <meta content="width=device-width, initial-scale=1" name="viewport">

    <link href="../static/css/style.css" rel="stylesheet" th:href="@{/css/style_bs.css}"/>

    <link th:rel="stylesheet" th:href="@{assets/bootstrap4-toggle/bootstrap4-toggle.min.css}"/>
    <link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
<body>

<div th:replace="fragments/header_bootstrap :: header_bootstrap"></div>

<main class="main">
    <div class="grid" id="groceryListView">

        <div align="center" th:switch="${errorCode == null}">
            <p th:case="${true}">error - something went wrong. To return to the main page click
                <a th:href="@{/}">here</a></p>
            <div th:case="*" >
                <h3 th:text="${errorCode.getTitle()}">error</h3>
                <p th:text="${errorCode.getDescription()}">error</p>
                <p>To return to the main page click <a th:href="@{/}">here</a></p>
            </div>
        </div>

    </div>
</main>

<!--Needed for animated header-->
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{assets/bootstrap4-toggle/bootstrap4-toggle.min.js}"></script>


</body>
</html>